{% include 'base.html' %}

<body>
    <div class="wrapper">
        
        {% include 'route/sidebar.html' %}

        <div id="content">
                           
        </div>
    </div>
    
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function() {
            var sidebarState = sessionStorage.getItem("sidebarState");
            if (sidebarState === "active") {
                document.getElementById("sidebar").classList.add("active");
            }
        });

        document.getElementById("sidebarCollapse").addEventListener("click", function() {
            var sidebar = document.getElementById("sidebar");
            sidebar.classList.toggle("active");
            closeAllSubmenus();

            var sidebarState = sidebar.classList.contains("active") ? "active" : "inactive";
            sessionStorage.setItem("sidebarState", sidebarState);
        });

        document.querySelectorAll('.list-unstyled.components .dropdown-toggle').forEach(function(item) {
            item.addEventListener('click', function() {
                var sidebar = document.getElementById("sidebar");
                if (!sidebar.classList.contains("active")) {
                    sidebar.classList.add("active");
                    sessionStorage.setItem("sidebarState", "active");
                }
            });
        });

        function closeAllSubmenus() {
            document.querySelectorAll("#sidebar .collapse.show").forEach(function(element) {
                element.classList.remove("show");
            });
        }

    </script>
</body> 
