{% extends 'base.html' %}

<body>
    <div class="wrapper">


        {% block content %}
            <div class="container-fluid">
                    <div class="text-center mb-4" style="margin-bottom: 1rem!important;">
                        <h4 style="background-color: #264653; color: #fff; padding: 10px;">IFAD Nature of The Complaint / Complainants Information</h4>
                    </div>
                    <div class="card">
                        <div class="card-body">                              
                            <div class="table-responsive">
                                <div id="data_info" class="box">
                                <table id="dataTable" class="table table-striped">
                                    <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Complainant</th>
                                    <th>Choose SECAP</th>
                                    <th>Number of Complainants</th>
                                    <th>Are you nationals of the concerned country or living in the area?</th>
                                    <th>Timestamp</th>
                                    <th>Action</th>
                                </tr>
                                    </thead>
                                <tbody>
                                    {% for row in rows %}
                                    <tr>
                                        <td>{{ row['id']}}</td>
                                        <td>{{ row['type-complaint']}}</td>
                                        <td>{{ row['SECAP'] }}</td>
                                        <td>{{ row['complainant-quantity'] }}</td>
                                        <td>{{ row['nationality'] }}</td>
                                        <td> {{ row['date_created'] }}<br>
                                            {% if row['date_modified'] %}
                                            <i style="font-size: smaller;color: #00cc66;">Updated: {{ row['date_modified'] | format_timestamp
                                            }}</i>
                                            {% endif %}</i>
                                        </td>
                                        <td>
                                            <div style="display: flex; gap: 5px;">
                                                <a href="/view_entry1/{{ row['id']}}?qs=internal" class="btn-link btn-sm view-btn" style="cursor:pointer;">View</a>        
                                                <a href="/edit_entry1/{{ row['id']}}?qs=internal" class="btn-link btn-sm edit-btn" style="color: rgb(57, 189, 57); cursor:pointer;">Edit</a>
                                                <a class="btn-link btn-sm delete-btn" data-row-id="{{ row['id'] }}" style="color: red; cursor: pointer;">Delete</a>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <script src="../static/js/sidebarscript.js"></script>

    <script>
        function eventFired(type) {
            let eventInfo = document.querySelector('#data_info');
            if (type !== 'Search' && type !== 'Page' && type !== 'Order') { 
                eventInfo.innerHTML += '<div>' + type + ' event - ' + new Date().getTime() + '</div>';
                eventInfo.scrollTop = eventInfo.scrollHeight;
            }
        }
        
        $(document).ready(function() {
            let dataTable = new DataTable('#dataTable', {
                searching: true
            });
            dataTable.on('order.dt', () => eventFired('Order'))
                     .on('search.dt', () => eventFired('Search'))
                     .on('page.dt', () => eventFired('Page'));
        });
    </script>

<script>
    document.querySelectorAll('.delete-btn').forEach(button => {
        button.addEventListener('click', function(this_) {
            // this_.getAttr("")
            let rowId = this.dataset.rowId;
            confirmDelete(rowId);
        });
    });

    function confirmDelete(id) {
        Swal.fire({
            title: "Are you sure?",
            text: "You won't be able to revert this!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes, delete it!"
        }).then((result) => {
            if (result.isConfirmed) {
                deleteRow(id);
            }
        });
    }

    function deleteRow(id) {
        fetch(`/delete/IFAD_Table/${id}`, {
                method: 'DELETE',
            })
            .then(response => {
                if (response.ok) {
                    Swal.fire({
                        title: "Deleted!",
                        text: "Row deleted successfully.",
                        icon: "success"
                    }).then(() => {
                        location.reload();
                    });
                } else {
                    Swal.fire({
                        title: "Error!",
                        text: "Failed to delete row.",
                        icon: "error"
                    });
                    console.error('Failed to delete row.');
                }
            })
            .catch(error => {
                Swal.fire({
                    title: "Error!",
                    text: "Error occurred while deleting row.",
                    icon: "error"
                });
                console.error('Error:', error);
            });
    }
</script>

    {% endblock %}