{% extends 'base.html' %}

<body>
    <div class="wrapper">

        {% block content %}
            <div class="container-fluid">
                <div>
                    <div>
                            <div class="text-center mb-4" style="margin-bottom: 1rem!important;">
                                <h4 id="registrationHeader" style="background-color: #264653; color: #fff; padding: 10px;">REGISTRATION</h4>
                            </div>  
                            <div class="card">
                                <div class="card-body">
                                    <div class="text-center mb-4 border-div">
                                        <h5 id="tableListHeader" style="color: #264653; padding: 10px; margin-bottom: 0;">TABLE LIST</h5>
                                    </div>                                    
                                    <div class="table-responsive">
                                        <div id="data_info" class="box">
                                            <table id="dataTable" class="table table-striped">
                                                <thead>
                                            <tr>
                                                <th>IMAGE</th>
                                                <th>ID</th>
                                                <th>NAME</th>
                                                <th>PCU</th>
                                                <th>RCU</th>
                                                <th>DESIGNATION</th>
                                                <th>STATUS</th>
                                            </tr>
                                                </thead>
                                            <tbody>
                                                {% for row in rows %}
                                                <tr>
                                                    <td id="profileImageCell" class="text-center">
                                                        <div class="profile-image-container">
                                                            <img src="/static/img/profile_pics/_{{ row['uploadImage'] | replace('C:fakepath','') }}" oncontextmenu="return false;" draggable="false" alt="Profile Picture">
                                                        </div>
                                                    </td>
                                                    <td>{{ row['id']}}</td>
                                                    <td>{{ row['name']}}</td>
                                                    <td>{{ row['pcu'] }}</td>
                                                    <td>{{ row['rcu'] }}</td>
                                                    <td>{{ row['job'] }}</td>
                                                    <td class="text-center">
                                                        <div class="status-container">
                                                            <input id="statusSwitch{{ loop.index }}" checked="true" type="checkbox" class="switch" onchange="updateStatus(this)">
                                                            <span class="statusText">ACTIVE</span>
                                                        </div>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>                

    <script src="../static/js/sidebarscript.js"></script>

    <script type="text/javascript">
        function updateStatus(statusSwitch) {
            var statusText = statusSwitch.parentNode.querySelector('.statusText');

            if (statusSwitch.checked) {
                statusText.innerText = 'ACTIVE';
                statusText.style.color = 'green';
                statusText.style.fontWeight = 'bold';
            } else {
                statusText.innerText = 'INACTIVE';
                statusText.style.color = 'red';
                statusText.style.fontWeight = 'bold';
            }
        }
    </script>

<script>
    function eventFired(type) {
        let eventInfo = document.querySelector('#data_info');
        if (type !== 'Search' && type !== 'Page' && type !== 'Order') { 
            eventInfo.innerHTML += '<div>' + type + ' event - ' + new Date().getTime() + '</div>';
            eventInfo.scrollTop = eventInfo.scrollHeight;
        }
    }
    
    $(document).ready(function() {
        let dataTable = new DataTable('#dataTable', {
            searching: true,
            order: [[0, 'desc']]
        });
        dataTable.on('order.dt', () => eventFired('Order'))
                 .on('search.dt', () => eventFired('Search'))
                 .on('page.dt', () => eventFired('Page'));
    });
</script>
{% endblock %}
