{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="card-body">
        <div class="text-center mb-4" style="margin-bottom: 1rem!important;">
            <h4 style="background-color: #264653; color: #fff; padding: 10px;">TRACKING PROGRESS TABLE</h4>
        </div>  
        <div class="card">
            <div class="card-body">                              
                <div class="table-responsive">
                    <div id="data_info" class="box">
                    <table id="dataTable" class="table table-striped">
                        <thead>
                            <tr>
                                <th>Activity Title</th>
                                <th>Actual Date</th>
                                <th>Project Logframe Alignment</th>
                                <th>Number of AWPB Activity</th>
                                <th>Reflect Corresponding Indicator Number</th>
                                <th>Action</th>
                            </tr>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in rows %}
                            <tr>
                                <td>{{ row['act_title'] }}</td>
                                <td>{{ row['Date'] }}</td>
                                <td>{{ row['logFrame'] }}</td>
                                <td>{{ row['AWPB'] }}</td>
                                <td>{{ row['reflect_i'] }}</td>
                                <td>
                                    <div style="display: flex; gap: 5px;">
                                        <button class="btn btn-primary btn-sm">Edit</button>
                                        <button type="button" class="btn btn-danger btn-sm" onclick="deleteData()">Delete</button>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                      </table>
                   </div>
               </div>
            </div>
        </div>
    </div>
</div>



<script>
    function eventFired(type) {
        let eventInfo = document.querySelector('#data_info');
        if (type !== 'Search' && type !== 'Page' && type !== 'Order') { 
            eventInfo.innerHTML += '<div>' + type + ' event - ' + new Date().getTime() + '</div>';
            eventInfo.scrollTop = eventInfo.scrollHeight;
        }
    }
    
    $(document).ready(function() {
        let dataTable = new DataTable('#dataTable', {
            searching: true
        });
        dataTable.on('order.dt', () => eventFired('Order'))
                 .on('search.dt', () => eventFired('Search'))
                 .on('page.dt', () => eventFired('Page'));
    });
</script>

<script src="../static/js/sidebarscript.js"></script>

{% endblock %}
